@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/src/fonts/static/alternative/Pretendard-Regular.ttf') format('truetype');
  font-style: normal;
}
